<div class="container-fluid page">
  <div class="d-flex page__box p-3 mt-2">รายชื่อนักเรียน</div>
  <div class="page__content shadow p-3 position-relative ">
    <mat-card class="card">รายชื่อนักเรียน</mat-card>
    <div class="select">
      <mat-form-field class="ss" appearance="fill">
        <mat-label>ตอนเรียน</mat-label>
        <mat-select disableRipple (selectionChange)="changesec()" [(ngModel)]="option">
          <mat-option *ngFor="let option of actions" [value]="option">ตอนเรียนที่ {{option}}</mat-option>
          <!--<mat-option value="2">ตอนเรียนที่ 2</mat-option>-->
        </mat-select>
      </mat-form-field>
    </div>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">ลำดับ</th>
            <th scope="col">รหัสนักศึกษา</th>
            <th scope="col">ชื่อนักศึกษา</th>
            <th scope="col">ตอนเรียน</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let list of rs; index as i">
            <th scope="row">{{i+1}}</th>
            <td>{{list.stdID}}</td>
            <td>{{list.name}}</td>
            <td>{{list.section}}</td>
          </tr>
          <!--<tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td scope="2">Larry</td>
            <td>@twitter</td>
          </tr>-->
        </tbody>
      </table>

  </div>
</div>
