<div class="container-fluid page">
  <div class="d-flex page__box p-3 mt-2">เพิ่มนักศึกษา</div>
  <div class="page__content shadow p-3 position-relative">
    <div class="page__content-data position-absolute text-center">
      <form class="example-form" [formGroup]="stdForm" (ngSubmit)="postdata(stdForm)" autocomplete="off">
        <div class="textfull">
        <label class="textform">Student-ID : รหัสนักศึกษา</label>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>StudentID</mat-label>
          <input matInput placeholder="Ex.620637" name="stdID" formControlName="stdID" autocomplete="off">
        </mat-form-field>
        <label class="textform">Name : ชื่อ-นามสกุล</label>
        <mat-form-field class="example-full-width" appearance="fill" >
          <mat-label>Name</mat-label>
          <input matInput placeholder="Ex.เอดี ฟลุ๊ค" name="name" formControlName="name" autocomplete="off">
        </mat-form-field>
        <label class="textform">Gender : เพศ</label>
        <mat-form-field class="example-full-width" appearance="fill" >
          <mat-label>Gender</mat-label>
          <input matInput placeholder="Ex.ชาย หรือ หญิง" name="sex" formControlName="sex" autocomplete="off">
        </mat-form-field>
        <label class="textform">Birthday : วัน-เดือน-ปีเกิด</label>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Birthday</mat-label>
          <input matInput placeholder="Ex.2000-12-05" name="birthday" formControlName="birthday" autocomplete="off" pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}">
        </mat-form-field>
        <label class="textform">Personal-ID : หมายเลขบัตรประชาชน</label>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>PersonalID</mat-label>
          <input matInput placeholder="Ex.2000-12-05" name="personalID" formControlName="personalID" autocomplete="off">
        </mat-form-field>
        <button type="submit">Send</button>
      </div>
      </form>
    </div>
  </div>
</div>

